header {
    color: white;
    background-color: black;
    height: 80px;
    /* border-radius: 0.3cap; */
    /* Ниже пишем выравнивание такста по центру div */
    display: flex;
    align-items: center;
    justify-content: center;
}

header .some-button {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}